[submodule "src/modules/push"]
	path = src/modules/push
	url = https://github.com/Ulydev/push
[submodule "src/modules/concord"]
	path = src/modules/concord
	url = https://github.com/Tjakka5/Concord.git
[submodule "src/modules/hump"]
	path = src/modules/hump
	url = https://github.com/vrld/hump.git
[submodule "src/modules/hc"]
	path = src/modules/hc
	url = https://github.com/vrld/HC.git
[submodule "src/modules/lua-state-machine"]
	path = src/modules/lua-state-machine
	url = https://github.com/kyleconroy/lua-state-machine.git
